@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Styles Fucker*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: transparent !important;
  --text-active: #ffffff;
  --button-hover-bg-color: transparent !important;
  --border-color: #494d59;
  --dropdown-height: 0;
  --rotate-arrow: 0;
  --translate-value: 0;
  --list-opacity: 0;
  --transition-time: 0.4s;
  --transition-timing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --border-radius: 1.4rem;
  --list-button-height: 4.6rem;
  --floating-icon-size: 26;
  --floating-icon-top: 0;
  --floating-icon-left: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: var(--bg-color);*/
  padding: 1.5rem;
  line-height: 1.4;
}

button {
  border: none;
  cursor: pointer;
  /*!*background-color: transparent;*!*/
  outline: none;
}

svg {
  display: none !important;
  height: 1.6rem;
  width: 1.6rem;
}

.text-truncate {
  display: none !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dropdown-container {
  display: none !important;
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 34rem;
}

.dropdown-title-icon,
.dropdown-arrow {
  display: none !important;
  display: inline-flex;
}

.dropdown-title {
  display: none !important;
  margin: 0 auto 0 1.8rem;
  text-transform: capitalize;
}

.dropdown-button {
  display: none !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  padding: 0 1.8rem;
}

.dropdown-button svg {
  display: none !important;
  transition: all var(--transition-time) var(--transition-timing);
  fill: #000000;
}

.dropdown-button svg,
.dropdown-button span {
  display: none !important;
  pointer-events: none;
}

.dropdown-button:hover,
.dropdown-button:focus {
  display: none !important;
  color: #000000;
}

.dropdown-button:hover svg,
.dropdown-button:focus svg {
  display: none !important;
  fill: #000000;
}

.main-button {
  display: none !important;
  height: 5.2rem;
  border-radius: var(--border-radius);
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  border: 0.1rem solid var(--border-color);
  transition: all var(--transition-time) var(--transition-timing);
}

.main-button:focus {
  display: none !important;
  border: 0.1rem solid var(--primary-color);
  box-shadow: 0 0 0 0.2rem rgba(44, 98, 246, 0.4);
}

.main-button .dropdown-arrow {
  display: none !important;
  transition: transform var(--transition-time) var(--transition-timing);
  transform: rotate(var(--rotate-arrow));
  margin-left: 1.8rem;
}

.list-button {
  display: none !important;
  height: var(--list-button-height);
  transition: color var(--transition-time) var(--transition-timing);
  color: var(--text-color);
  overflow: hidden;
  cursor: none;
}

.dropdown-list-container {
  display: none !important;
  overflow: hidden;
  max-height: var(--dropdown-height);
  transition: max-height var(--transition-time) var(--transition-timing);
}

.dropdown-list-wrapper {
  display: none !important;
  margin-top: 1rem;
  padding: 1rem;
  background-color: transparent;
  border: transparent;
  border-radius: var(--border-radius);
  /*border: 0.1rem solid var(--border-color);*/
  position: relative;
}

ul.dropdown-list {
  display: none !important;
  position: relative;
  list-style-type: none;
}

ul.dropdown-list::before {
  display: none !important;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  height: var(--list-button-height);
  background-color: var(--button-hover-bg-color);
  transition: all var(--transition-time) linear;
  transform: translateY(var(--translate-value));
  border-radius: var(--border-radius);
  pointer-events: none;
}
ul.dropdown-list:hover::before,
ul.dropdown-list:hover ~ .floating-icon {
  display: none !important;
  opacity: 1;
}

li.dropdown-list-item {
  display: none !important;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  opacity: var(--list-opacity);
  transition: opacity 0.8s var(--transition-timing);
}

.floating-icon {
  display: none !important;
  height: calc(var(--floating-icon-size) * 1px);
  width: calc(var(--floating-icon-size) * 1px);
  position: absolute;
  top: var(--floating-icon-top);
  left: var(--floating-icon-left);
  background-color: var(--border-color);
  border-radius: 1rem;
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--transition-time) var(--transition-timing);
  z-index: 2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.floating-icon svg {
  display: none !important;
  fill: var(--text-active);
}

.helptext{
  font-size: 20px;
  position: relative;
  display: flex;
  top: 135%;
}

#id_username{
  position: absolute;
  caret-color: transparent;
  top: 15%;
  font-size: 18px;
  left: 42%;
  display: flex;
  justify-content: center;
  content-align: center;
  height: 45px;
  width: 300px;
  border-radius: 8px;
  outline: none;
}

#id_password1{
  position: absolute;
  font-size: 18px;
  caret-color: transparent;
  top: 30%;
  left: 42%;
  right: -70px;
  height: 45px;
  width: 300px;
  border-radius: 8px;
  outline: none;
}

#id_password2{
  position: absolute;
  font-size: 18px;
  caret-color: transparent;
  top: 45%;
  left: 42%;
  right: -70px;
  height: 45px;
  width: 300px;
  border-radius: 8px;
  outline: none;
}

label[for=id_username]{
  position: absolute;
  top: 10%;
  left: 42%;
  font-size: 18px;
}
label[for=id_password1]{
  position: absolute;
  top: 25%;
  left: 42%;
  font-size: 18px;
}
label[for=id_password2]{
  position: absolute;
  top: 40%;
  left: 42%;
  font-size: 18px;
}
#reg{
  position: absolute;
  outline: none;
  background-color: black;
  height: 35px;
  width: 120px;
  font-size: 20px;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  color: white;
  left: 70%;
  top: 40%;
}

#reg:hover {
  background-color: #00ff00;
  font-family: 'Roboto', sans-serif;
  color: black;
}

#join{
  position: absolute;
  top: 25%;
  left: 72%;
}

.errorlist {
    -moz-animation: cssAnimation 0s ease-in 6s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 6s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 6s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 6s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background-color: black;
    color: white;
    position: absolute;
    border-radius: 8px;
    height: auto;
    width: auto;
    top: 45%;
    text-align: justify;
    left: 25%;
    font-size: 20px;
    z-index: 2;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}