<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
</head>
<body>
    <p>
        <a href="{% url 'logemys:index' %}"> Logemy</a> -
        <a href="{% url 'logemys:topics' %}">Topics</a> -
        {% if user.is_authenticated %}
            Hello, {{ user.username }}
            <a href="{% url 'users:logout' %}">Log out</a>
        {% else %}
            <a href="{% url 'users:register' %}">Register</a> -
            <a href="{% url 'users:login' %}">Log in</a>
        {% endif %}
    </p>
    {% block content %} {% endblock content %}

</body>
</html>