<!DOCTYPE html>
{% extends 'logemys/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Topic</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static 'css/style.css' %}{% endblock %}">
    <link rel="stylesheet" href="{% static 'boot4/bootstrap-reboot.css' %}">
</head>
<body>
{% block content %}
  <p>Add a new topic : </p>
  <form action="{% url 'logemys:new_topic' %}" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button name="submit">Add Topic</button>
  </form>
{% endblock content%}
</body>
</html>